program: vae_mnist_working.py
name: sweepdemo
project: vae_mnist_working  # change this
method: bayes
metric:
    goal: minimize
    name: validation_loss
parameters:
    learning_rate:
        distribution: log_uniform_values
        min: 0.0001
        max: 0.1
    batch_size:
        values: [16, 32, 64]
    epochs:
        values: [2, 5, 10]
run_cap: 10